* {
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 243, 243);
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 24px;
}

section {
  display: flex;
  flex-direction: row;
  gap: 32px;
  background: white;
  height: auto;
  width: 100%;
  border-radius: 24px;
  padding: 16px;
}

table {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}

tr {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  gap: 8px;
  border-bottom: 1px solid rgb(217, 217, 217);
}

td {
  display: flex;
  justify-content: center;
  width: 200px;
}

canvas {
  width: 100%;
  height: auto;
}

.leads-table {
  width: 100%;
  height: 320px;
}

.chart-container {
  width: 100%;
  height: 320px;
}